<h1>¡Bienvenidos a nuestro blog!</h1>

<!-- Recorre un arreglo con números del 1 al 4 y los muestra en pantalla -->

<!-- <% [1, 2, 3, 4].each do |number| %>
  <p> Número:  <%= number %> </p>
<% end %> -->

<!-- Asigna un valor a una variable (sin imprimir) y luego concatena ese valor en una cadena y lo imprime -->
<!-- <% mundo = "David" %>
<%= "Hola #{mundo}" %> -->
